.rightbar{
    flex: 3;
    width: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: rgb(216, 211, 211);
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    background: rgb(212, 209, 209);
    padding: 3px;
}

.rightbarWrapper{
    height: 100%;
    width: 100%;
    padding: 10px;
}

.rightbarTop{
    height: 80px;
}

.rightbarBirthday{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.rightbarBirthdayImg{
    width: 50px;
    height: 100%;
    object-fit: contain;
    margin-right: 10px;
}

.rightbarImageContainer{
    width: 100%;
    height: 320px;
    padding: 10px;
}

.rightbarImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rightbarOnlineHead{
    margin: 20px 10px;
}

.rightbarOnlineFriendLists{
    list-style: none;
}

.rightbarOnlineFriendList{
    margin: 15px 0;
    height: 58px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.rightbarOnlineStatus{
    background: green;
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 50%;
    top: 6px;
    left: 45px;
    border: 2px solid white;
}

.rightbarOnlineFriendImg{
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.rightbarOnlineFriendName{
    font-weight: 600;
}

.userDetails{
    margin: 10px;
    padding: 15px;
}
.userDetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
}

.rightbarFollowButton, .rightbarMessageButton{
    background: green;
    width: 80%;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
}
.rightbarMessageButton{
    margin-top: 10px;
    padding: 0.3rem;
}

